li, button{
  margin-bottom: .5rem;
}
p{
  margin-top: 0;
}
h1,h2,h3{
  color: rgb(0, 6, 34);
}
li{
  color: rgb(29, 48, 140);
}

.App{
  padding: 1rem 3rem;
}
.text-red{
color: red;
}
.box{
  width: 300px;
  background: rgb(100, 193, 236);
  padding: 1rem;
  text-align: center;
}